
.input {
  width: 30vw;
  height: 30px;
  border-radius: 5px;

  outline: none;
  transition: placeholder 0.3s;
  font-size: 16px;
}
.input:hover {
  border: 2px solid #ccc;
}
input::placeholder:focus {
  opacity: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
h2{
  font-size: 1.2em;
  color:dimgray
}